<section>
    <h1>‘{{ series.name | escape }}’ upcoming events</h1>
    {% if future_events[0] %}
    <p>The next 5 events</p>
    <ul class="event-list">
        {% for event in future_events %}
        <li>
            <a href="/{{ event.series }}/{{ event.id }}" class="section">
                <div class="event-info">
                    <div class="label">
                        {{ event.start_short }}
                        (for {{ event.duration_in_words }})
                    </div>
                    <div class="badge">
                        <img alt="Volunteer status"
                             src="/{{ event.series }}/{{ event.id }}/status.svg">
                    </div>
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</section>
