<section>
    <h1>‘{{ series.name | escape }}’ upcoming events</h1>
    {% if future_events.size > 0 %}
    <p>The next 5 events</p>
    <ul class="event-list">
        {% for event in future_events %}
        <li>
            <a href="/{{ series.slug }}/{{ event.id }}" class="section">
                <div class="event-info">
                    <div class="label">
                        {{ event.start_short }}
                        (for {{ event.duration_in_words }})
                    </div>
                    <div class="badge">
                        <img alt="Volunteer status"
                             src="/{{ series.slug }}/{{ event.id }}/status.svg"/>
                    </div>
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No upcoming events</p>
    {% endif %}
</section>
<section>
    {% capture image_tag %}
    <img alt="{{ series.name}} volunteer status"
         src="{{ next_event_url }}/status.svg"/>
    {% endcapture %}
    <h2>How to embed</h2>
    <p>You can insert an image representing the status of the upcoming event
        anywhere like this:</p>
    <blockquote><code>{{ image_tag | escape }}</code></blockquote>
    <p>It will look like this:</p>
    <p>{{ image_tag }}</p>
    You can link to to the upcoming event of this series:
    <blockquote><a href="{{ next_event_url }}">{{ next_event_url }}</a>
    </blockquote>
</section>
