<h2>{{ series.name }} on {{ event.start }}</h2>
<p>Finish: {{ event.finish }}</p>
<p>Wee need at least {{ event.volunteers_goal }} volunteers. Currently
{{ event.volunteers_current }} have joined.</p>
