<section>
    <h1>
        ‘<a href="/{{ series.slug }}">{{ series.name | escape }}</a>’
        on {{ event.start_date }}</h1>
    <p>Start: {{ event.start }}<br/>Finish: {{ event.finish }}</p>
    <div class="badge">
        <img alt="Volunteer status"
             src="/{{ series.slug }}/{{ event.id }}/status.svg">
    </div>
    <p>Wee need at least {{ event.volunteers_goal }} volunteers. Currently
        {{ event.volunteers_current }} have joined.</p>
</section>
<section>
    <h2>Become a volunteer for this event</h2>
    <form action="/{{ series.slug }}/{{ event.id }}/join" method="post">
        <input type="hidden" name="authenticity_token" value="{{csrf_token}}"/>
        <label for="assignment_name">Name:</label>
        <input id="assignment_name" name="assignment[name]"/>
        <label for="assignment_email">Email:</label>
        <input id="assignment_email" name="assignment[email]"/>
        <input type="submit"/>
    </form>
</section>
